<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<h1 style="text-align: center;">be | stl</h1>

<nav th:replace="fragments :: nav"></nav>
<div class="container">
    <h1 th:text="${title}">Default Title</h1>
    <br/>
</div>
<div class="container">
<table id="rankTable" class="table table-bordered table-striped table-hover">

    <tr><th colspan="2" style="text-align: center;"> Name </th><th colspan="2" style="text-align: center;"> Score </th></tr>
    <div th:each="rest : ${restaurants}">
        <tr><td colspan="2" th:text="${rest.name}"></td><td colspan="2" th:text="${rest.score}"></td><td><form method="post" action="/category/rankTable/upVote" th:object="${vote}"><input type="hidden" name="restId" th:value="${rest.uid}"/><input type="hidden" name="categoryId" th:value="${category.uid}"/><input type="submit" class="btn btn-default" value="upvote"></input></form></td><td><form method="post" action="/category/rankTable/reVoke"><input type="hidden" name="restId" th:value="${rest.uid}"/><input type="hidden" name="categoryId" th:value="${category.uid}"/><input type="submit" class="btn btn-default" value="revoke"></input></form></td></tr>
    </div>

</table>
<p style="text-align: center;" th:unless="${restaurants} and ${restaurants.size()}"> No restaurants yet. Be the first to add one!</p>
</div>
<br/>
<br/>
<div class="container">
    <div style="text-align: center; font-size: 1.5em;">Enter a new restaurant for us to rank!</div>
<form method="post" action="/category/rankTable" th:object="${restaurant}">
    <div class="form-group">
    <table class="table">
        <tr><td style="text-align: right; font-size:1.5em;">Name:</td><td><input type="text" class="form-control" th:field="*{name}"></input></td><td><input type="submit" class = "btn btn-default" value="add"></input></td></tr><br/>
        <span th:errors="*{name}" class="error"></span>
        <span th:text="${error}"></span>
    </table>
    </div>
    <input type="hidden" name="categoryId" th:value="${category.uid}" />
</form>
</div>
<br/>



<!--<div class="pac-card" id="pac-card">-->
    <!--<div>-->
        <!--<div id="title">-->
            <!--<span th:text="'Find the ' + ${category.name} + ' in STL'"></span>-->
        <!--</div> <br/>-->
    <!--</div>-->
    <!--<div id="pac-container">-->
        <!--<input id="pac-input" type="text"-->
               <!--placeholder="Enter a location"/>-->
    <!--</div>-->
<!--</div>-->
<!--<div id="map"></div>-->
<!--<div id="infowindow-content">-->
    <!--<img src="" width="16" height="16" id="place-icon"></img>-->
    <!--<span id="place-name"  class="title"></span><br/>-->
    <!--<span id="place-address"></span>-->
<!--</div>-->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByAwM8QkrfFmXQCx5HIJ4XkxJcmcu7rPw&amp;libraries=places&amp;callback=initMap"></script>-->
<!--AIzaSyByAwM8QkrfFmXQCx5HIJ4XkxJcmcu7rPw -->
</body>
</html>