<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>The Best in STL</title>
</head>
<body>
<table>

    <h1>be | stl</h1>

    <tr><th> Name </th><th> Score </th></tr>

</table>
<br/>
Enter a new restaurant for us to judge!
<br/>
<form>
    <table>
    <tr><td>Name:</td><td><input type="text"></input></td></tr>
    <tr><td>Address:</td><td><input type="text"></input></td></tr>
    </table>
    <input type="submit"></input>
</form>
<br/>

<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByAwM8QkrfFmXQCx5HIJ4XkxJcmcu7rPw&amp;callback=myMap"></script>
<!--AIzaSyByAwM8QkrfFmXQCx5HIJ4XkxJcmcu7rPw -->


</body>
</html>
