<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title th:text="${title}">The Best in STL</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
</body>
</html>