<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <script type="text/javascript" src="jquery-1.11.3.js"></script>
    <title>The Best in STL</title>
</head>
<body>
<a href="/display">Categories</a> --- <a href="/display/burrito">Best Burrito</a> --- <a href="/display/burger">Best Burger</a> --- <a href="/display/pasta">Best Pasta</a> --- <a href="/">User Login</a>
<h1>be | stl</h1>
<h3>Categories</h3>
<div th:each="category : ${categories}">
    <a th:href="'/display/' + ${category.key}" th:text="${category.key}"></a>
</div>

</body>
</html>